flask
flask-cors
pywhatkit
wikipedia
pyautogui
psutil
google-generativeai
python-dotenv
Pillow
pyperclip
duckduckgo-search
opencv-python
numpy
pywin32; sys_platform == 'win32'
winshell; sys_platform == 'win32'
pyinstaller
python-socketio
python-engineio
pillow
google-genai

