flask
flask-cors
# pyautogui (Removed for Headless Safety)
# pywhatkit (Removed for Headless)
# pyperclip (Removed for Headless)
psutil
google-generativeai
python-dotenv
duckduckgo-search
opencv-python-headless
numpy
pyinstaller
pillow
google-genai
pydantic
google-genai
pydantic
