flask
flask-cors
pywhatkit
wikipedia
pyautogui
psutil
google-generativeai
python-dotenv

pyperclip
duckduckgo-search
duckduckgo-search
opencv-python-headless
numpy
pywin32; sys_platform == 'win32'
# winshell removed
pyinstaller
pillow
google-genai
pydantic

