flask
flask-cors
pywhatkit
wikipedia
pyautogui
psutil
google-generativeai
python-dotenv
pyperclip
duckduckgo-search
opencv-python
numpy<2.0.0
pywin32
winshell
pyinstaller
pillow
pydantic
groq
requests
