flask
flask-cors
# pyautogui (Removed for Headless Safety)
# pywhatkit (Removed for Headless Safety)
# pyperclip (Removed for Headless Safety)
psutil
google-generativeai
python-dotenv
duckduckgo-search
opencv-python-headless==4.10.0.84
numpy<2.0.0
pyinstaller
pillow
pydantic
google-genai
pydantic
groq
requests
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

num = int(input("Enter a number: "))
if is_prime(num):
    print(num, "is a prime number")
else:
    print(num, "is not a prime number")